nbproject/private/
build/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/
*.txt
!compareModule/accident/*
!compareModule/art/*
!compareModule/crime/*
!compareModule/education/*
!compareModule/environment/*
!compareModule/international/*
!compareModule/opinion/*
!compareModule/science_tech/*
!compareModule/sports/*
!accident.txt
!art.txt
!crime.txt
!education.txt
!environment.txt
!international.txt
!opinion.txt
!science_tech.txt
!sports.txt
